<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/CSS/LunchCSS.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/JS/Index.js"></script>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>

</body>
</html>
